In [2]:
import pandas as pd
import numpy as np
import os

/home/shanmukh.alle/miniconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [21]:
df = pd.read_csv("../dataset/demographics.csv")
df

,Unnamed: 0,ID,Study,Group,Subjnum,Gender,Age,Height,Weight,HoehnYahr,...,UPDRSM,TUAG,Speed_01,Speed_02,Speed_03,Speed_04,Speed_05,Speed_06,Speed_07,Speed_10
0,0,GaPt03,Ga,1,3,2,82,1.45,50.0,3.0,...,10.0,36.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.778
1,1,GaPt04,Ga,1,4,1,68,1.71,NaN,2.5,...,8.0,11.00,0.642,NaN,NaN,NaN,NaN,NaN,NaN,0.818
2,2,GaPt05,Ga,1,5,2,82,1.53,51.0,2.5,...,5.0,14.50,0.908,NaN,NaN,NaN,NaN,NaN,NaN,0.614
3,3,GaPt06,Ga,1,6,1,72,1.70,82.0,2.0,...,13.0,10.47,0.848,NaN,NaN,NaN,NaN,NaN,NaN,0.937
4,4,GaPt07,Ga,1,7,2,53,1.67,54.0,3.0,...,22.0,18.34,0.677,0.957,NaN,NaN,NaN,NaN,NaN,0.579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,161,SiCo26,Si,2,26,1,60,1.74,72.0,NaN,...,NaN,9.20,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,162,SiCo27,Si,2,27,1,67,1.90,95.0,NaN,...,NaN,12.52,1.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,163,SiCo28,Si,2,28,1,61,1.70,72.0,NaN,...,NaN,12.65,0.990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,164,SiCo29,Si,2,29,1,53,1.70,87.0,NaN,...,NaN,11.41,1.290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,165,SiCo30,Si,2,30,1,63,1.74,82.0,NaN,...,NaN,8.68,1.420,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
temp = set(df["ID"].unique())

In [4]:
def updateHeight(x):
    if x>2:
        return x/100
    else: 
        return x

In [5]:
temp = list(df["Height"].apply(updateHeight))
df["Height"]= df["Height"].apply(updateHeight)
# for i in range(len(temp)):
#     print (temp[i],list(df["Height"])[i])

In [6]:
df = df.drop(axis=1,columns = ["Unnamed: 0"])

In [7]:
list(df)

['ID',
 'Study',
 'Group',
 'Subjnum',
 'Gender',
 'Age',
 'Height',
 'Weight',
 'HoehnYahr',
 'UPDRS',
 'UPDRSM',
 'TUAG',
 'Speed_01',
 'Speed_02',
 'Speed_03',
 'Speed_04',
 'Speed_05',
 'Speed_06',
 'Speed_07',
 'Speed_10']

In [8]:
# df.to_csv("../dataset/PatientDemographics.csv",index=False)

In [12]:
files = os.listdir("../dataset/raw/")
walks = []
for i in range(len(files)):
    if len(files[i])==13:
        walks.append(files[i])
print (len(walks))
print (walks[1])
print (walks[1][7:9])

306
JuCo20_01.txt
01

In [13]:
walksinfo = []
for i in walks:
    walk = {}
    walk["Walk Name"] = i
    walk["Patient ID"] = i[0:6]
    temp = df[df['ID']==walk["Patient ID"]]
    walk["Gender"] = temp["Gender"].values[0]
    walk["Age"] = temp["Age"].values[0]
    walk["Height"] = temp["Height"].values[0]
    walk["Weight"] = temp["Weight"].values[0]
    walk['HoehnYahr'] = temp['HoehnYahr'].values[0]
    walk['UPDRS'] = temp['UPDRS'].values[0]
    walk["UPDRSM"] = temp["UPDRSM"].values[0]
    walk["TUAG"] = temp["TUAG"].values[0]
    walk["Speed"] = temp["Speed_"+i[7:9]].values[0]
    if i[7:9] == "10":
        walk["Extra Task"] = 1
    else :
        walk["Extra Task"] = 0
    if "Pt" in i:
        walk["Class"] = 1
    else:
        walk["Class"] = 0

#     print (walk)
    walksinfo.append(walk)
#     break

In [14]:
walkdf = pd.DataFrame(walksinfo)

walkdf

,Walk Name,Patient ID,Gender,Age,Height,Weight,HoehnYahr,UPDRS,UPDRSM,TUAG,Speed,Extra Task,Class
0,SiPt39_01.txt,SiPt39,2,69,1.68,53.0,2.0,33.0,20.0,13.97,0.880,0,1
1,JuCo20_01.txt,JuCo20,2,67,1.60,67.0,NaN,0.0,0.0,13.40,1.031,0,0
2,JuPt26_01.txt,JuPt26,2,66,1.67,84.0,2.0,18.0,11.0,12.47,0.940,0,1
3,SiPt40_01.txt,SiPt40,1,69,1.60,81.0,2.5,37.0,24.0,9.70,1.070,0,1
4,GaPt16_10.txt,GaPt16,1,79,1.70,72.0,2.0,18.0,10.0,8.74,1.129,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,SiPt28_01.txt,SiPt28,2,70,1.58,72.0,2.5,33.0,18.0,10.98,1.204,0,1
302,SiPt36_01.txt,SiPt36,2,53,1.58,62.0,2.0,52.0,32.0,11.27,0.970,0,1
303,JuCo23_01.txt,JuCo23,1,68,1.82,87.0,NaN,0.0,0.0,12.02,1.170,0,0
304,GaPt21_02.txt,GaPt21,1,80,NaN,63.0,3.0,46.0,27.0,14.06,1.118,0,1
305,GaPt14_01.txt,GaPt14,1,56,1.95,105.0,2.0,29.0,19.0,NaN,1.369,0,1

In [24]:
walkdf = walkdf.sort_values("Walk Name")
# walkdf.sort_values("Walk Name")
temp - set(walkdf["Patient ID"].unique())

{'Juc010'}

In [16]:
# walkdf.to_csv("../dataset/WalksDemographics.csv",index=False)

In [17]:
len(walks)

306

In [18]:
walkdf.describe()

,Gender,Age,Height,Weight,HoehnYahr,UPDRS,UPDRSM,TUAG,Speed,Extra Task,Class
count,306.000000,306.000000,297.000000,301.000000,252.000000,275.000000,275.00000,282.000000,266.000000,306.000000,306.000000
mean,1.385621,67.549020,1.684343,73.392027,1.954365,23.021818,14.08000,11.300816,1.108233,0.088235,0.699346
std,0.487539,8.761272,0.085089,11.935625,0.883052,15.911006,9.72247,3.317156,0.212669,0.284101,0.459293
min,1.000000,36.000000,1.450000,47.000000,0.000000,0.000000,0.00000,6.230000,0.344000,0.000000,0.000000
25%,1.000000,63.000000,1.620000,65.000000,2.000000,14.000000,7.50000,9.540000,0.980000,0.000000,0.000000
50%,1.000000,68.000000,1.690000,73.000000,2.000000,24.000000,15.00000,10.735000,1.135500,0.000000,1.000000
75%,2.000000,74.000000,1.750000,82.000000,2.500000,33.000000,21.00000,12.692500,1.248000,0.000000,1.000000
max,2.000000,86.000000,1.950000,105.000000,3.000000,70.000000,44.00000,36.340000,1.542000,1.000000,1.000000

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
X = walkdf[[""]]